[Desktop Entry]
Type=Application
Name=ranger
Comment=Show Directory
Icon=utilities-terminal
Terminal=false
Exec=urxvt -e ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
