[Desktop Entry]
Type=Application
Name=ranger
Comment=Open direcory and select file
Icon=utilities-terminal
Terminal=false
Exec=urxvt -e ranger --selectfile
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
